body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f4f7f6;
  font-family: 'Arial', sans-serif;
}

.form-container {
  background: #ee4343;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container h2 {
  margin-bottom: 24px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  padding: 11px;
  border: 1px solid #000000;
  border-radius: 8px;
  font-size: 16px;
}

button {
  padding: 14px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}
